.container {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

:host {
  flex: 1;
  display: flex;
  max-height: 100%;
}

.game-info-container {
  padding: var(--space-8);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

app-chat {
    overflow: auto;
}

.murderer-selecting-cards {
  background-color: var(--tg-info-color);
  border-radius: var(--tg-border-radius);
  padding: var(--space-4);
  color: (var(--tg-info-text));
  font-weight: var(--tg-info-weight);
}

app-player-deck-pager {
  margin: var(--space-4) 0;
}

.cards {
  flex: 0 0 auto;
  display: flex;
  overflow-x: auto;
}