.container {
  flex: 1;
  height: 100%;
  display: grid;
}

:host {
  flex: 1;
  display: flex;
  max-height: 100%;
}

.game-info-container {
  padding: var(--space-8);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

app-joined-players-list {
  flex: 1 1 auto;
  min-height: 0;
}

app-chat {
  overflow: auto;
}

.murderer-selecting-cards {
  background-color: var(--tg-info-color);
  border-radius: var(--tg-border-radius);
  padding: var(--space-4);
  color: (var(--tg-info-text));
  font-weight: var(--tg-info-weight);
}

app-player-deck-pager {
  margin: var(--space-4) 0;
}

.cards {
  flex: 0 0 auto;
  display: flex;
  overflow-x: auto;
}

@media only screen and (max-width: 40rem) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
}

@media only screen and (min-width: 40rem) and (max-width: 65rem) {
  .container {
    grid-template-columns: 4fr 3fr;
  }
}

@media only screen and (min-width: 65rem) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}
