#means,
#clues {
  height: 20vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0.8em;
}

#means {
}

#clues {
}

.card {
  margin-right: 5px;
}

#parent {
  padding: 16px;
}
