.container {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.game-info-container {
  overflow: auto;
}

app-chat {
  overflow: auto;
}

:host {
  flex: 1;
  display: flex;
  max-height: 100%;
}