<div class="container">
  <div class="game-info-container" *ngIf="(gameApi.gameId$ | async) as gameId; else showLoading">
    <div *ngIf="gameApi.game$ | async as game">
      <h2>Game ID: {{ gameId }}</h2>

      <div *ngIf="forensicApi.forensicPrivateData$ | async as privateData">
        <div *ngIf="privateData.murderer">
          <h2>{{ privateData.murderer.name }} is the murderer!</h2>
          <div *ngIf="privateData.murdererClueCardName && privateData.murdererMeansCardName; else cardsNotSelected">
            <h3>Selected cards:</h3>
            <div style="display: flex;">
              <tg-card-wrapper [card]="getChosenMeansCard(privateData)"></tg-card-wrapper>
              <tg-card-wrapper [card]="getChosenClueCard(privateData)"></tg-card-wrapper>
            </div>
          </div>
          <ng-template #cardsNotSelected>
            <h3>{{ privateData.murderer.name }} is selecting their cards...</h3>
          </ng-template>
        </div>
      </div>

      <div *ngIf="game.startedOn">
        Game started!

        <h2>Selected Forensic Cards</h2>
        <div style="display: flex;">
          <app-forensic-card [forensicCard]="game.causeCard"></app-forensic-card>
          <app-forensic-card [forensicCard]="game.locationCard"></app-forensic-card>
          <ng-container *ngFor="let card of game.otherCards">
            <app-forensic-card [forensicCard]="card" *ngIf="card.selectedChoice"></app-forensic-card>
          </ng-container>
        </div>

        <h2>Select Cards to replace</h2>
        <div style="display: flex;">
          <ng-container *ngFor="let card of game.otherCards">
            <app-forensic-card
              [forensicCard]="card"
              *ngIf="card.selectedChoice"
              [selected]="card.cardName === replaceCardName"
              (click)="selectReplaceCard(card)"
            ></app-forensic-card>
          </ng-container>
        </div>

        <div *ngIf="cardApi.cards$ | async as cards">
          <div *ngIf="!game.causeCard">
            <h2>Select a Cause Card</h2>
            <div style="display: flex;">
              <app-forensic-card
                *ngFor="let card of cards.forensicCards.causeCards"
                [forensicCard]="card"
                [(selectedOptionName)]="selectedCauseCardOption"
                (click)="causeCardClick(card)"
                [selected]="card.cardName === selectedCauseCardName"
              ></app-forensic-card>
            </div>
            <button mat-raised-button color="accent" (click)="selectCauseCard()">Start Cause Card</button>
          </div>

          <div *ngIf="!game.locationCard && game.causeCard">
            <h2>Select a Location Card</h2>
            <div style="display: flex;">
              <app-forensic-card
                *ngFor="let card of cards.forensicCards.locationCards"
                [forensicCard]="card"
                [(selectedOptionName)]="selectedLocationCardOption"
                (click)="locationCardClick(card)"
                [selected]="card.cardName === selectedLocationCardName"
              ></app-forensic-card>
            </div>
            <button mat-raised-button color="accent" (click)="selectLocationCard()">Start Location Card</button>
          </div>

          <div *ngIf="game.causeCard && game.locationCard">
            <h2>Select a card</h2>
            <div style="display: flex;">
              <app-forensic-card
                [(selectedOptionName)]="selectedOtherCardOption"
                [forensicCard]="nextCard(game)"
                [selected]="true"
              ></app-forensic-card>
            </div>
            <button mat-raised-button color="accent" (click)="selectNextOtherCard()">Start Next Other Card</button>
          </div>
        </div>
      </div>

      <div *ngIf="!game.startedOn" class="flex-vertical">
        <h3>Joined players</h3>
        <app-joined-players-list [gameId]="gameId"></app-joined-players-list>
        <button mat-raised-button color="accent" (click)="startGame()">Start Game</button>
      </div>
    </div>
  </div>
  <app-chat></app-chat>
  <ng-template #showLoading>
    <div class="flex-vertical">
      <mat-spinner></mat-spinner>
      <div *ngIf="!loading">
        Huh, something seems to have gone wrong. It should not take this long. Try again?
        <a mat-button [routerLink]="['/']">Back to home</a>
      </div>
    </div>
  </ng-template>
</div>
