<div class="vertical-flex" style="height: 100%" *ngIf="gameInstance$ | async; let gameInstance; else loading;">
  <app-forensic-deck></app-forensic-deck>
  <app-player-deck-pager [guess]="guess"></app-player-deck-pager>
  <div>
    <div class="flex-horizontal" style="width: 100%;">
      <div class="fill-remaining-space">
        <div>
          <b>Game Id:</b>
          {{ gameInstance.gameId }}
        </div>
        <div><b>Player Name:</b> {{ player$ | async }}</div>
      </div>
      <app-guess [guess]="guess" class="fill-remaining-space"></app-guess>
    </div>
  </div>
  <app-chat class="fill-remaining-space"></app-chat>
</div>
<ng-template #loading>
  Loading...
</ng-template>
