<div class="player-deck">
  <div><b>Player name:</b> {{ playerName }}</div>
  <div class="flex-horizontal">
    <app-card
      *ngFor="let card of meansCards | async"
      [imgSrc]="card.imgUrl"
      [name]="card.name"
      [active]="gameApi.selectedMeans === card.name"
      (click)="gameApi.setSelectedMeans(card.name)"
    ></app-card>
  </div>
  <div class="flex-horizontal">
    <app-card
      *ngFor="let card of clueCards | async"
      [imgSrc]="card.imgUrl"
      [name]="card.name"
      [active]="gameApi.selectedClue === card.name"
      (click)="gameApi.setSelectedClue(card.name)"
    ></app-card>
  </div>
</div>
