.infoSection {
    margin: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.listSection {
    min-height: 200px;
    background-color: #00000022;
    flex-grow: 1;
}