.info {
  background-color: var(--tg-info-color);
  border-radius: var(--tg-border-radius);
  padding: var(--space-4);
  color: (var(--tg-info-text));
  font-weight: var(--tg-info-weight);
  margin-bottom: var(--space-4);
}
