.card {
  height: var(--tg-card-height);
  width: var(--tg-card-width);
  border-radius: 4px;
  margin: var(--space-2);
  border: 2px solid;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.card-name {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  font-weight: 500;
  padding: var(--space-2);
  word-wrap: break-word;
  // border-radius: var;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0));
}

.selected {
  color: red;
}

.not-selected {
  color: white;
}

.means {
  border-color: #001fc5;
}

.clue {
  border-color: #b30e02;
}
