.card {
  height: var(--tg-card-height);
  width: var(--tg-card-width);
  border-radius: 4px;
  margin: var(--space-2);
}

.card-name {
  font-weight: 500;
  padding: var(--space-2);
  word-wrap: break-word;
  border-radius: var;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0));
}

#card-image {
  max-width: 100%;
  max-height: 100%;
}

.selected {
  color: red;
}

.not-selected {
  color: white;
}
