:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  padding: 1rem;
  text-align: center;
  overflow: auto;
}

.info-container {
}

.join-container {
  display: flex;
  padding: 2rem;

  mat-form-field {
    flex: 1 1 auto; 
    padding: 0 1rem;
  }
}

.create-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.create-or-join {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}