.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--tg-border-size) solid var(--warn-lighter-color);
  border-radius: var(--tg-border-radius);
  padding: var(--space-8);
}

.deck-container {
  display: flex;
  justify-content: center;
}