.root-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.joined-list-container {
  flex: 1;
  padding: var(--space-8);
  display: flex;
  app-joined-players-list {
    flex: 1;
  }
}

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.join-container {
  padding: var(--space-8);
  padding-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-left: var(--space-8);
}
