<div class="container">
  <ng-container *ngIf="guess && guess.murdererUid; else emptyGuess">
    <ng-container *ngIf="gameApi.players$ | async as players">
      <ng-container *ngIf="getMurderer(players) as murderer; else emptyGuess">
        <div class="murderer">
          <div class="think">I think</div>
          <tg-avatar [diameter]="50" [uid]="murderer.uid"></tg-avatar>
          <div class="name">{{ murderer.name }}</div>
          <div class="subtitle">is the murderer</div>
        </div>
        <ng-container *ngIf="getMeansCard(murderer) as meansCard">
          <tg-card [card]="meansCard"></tg-card>
          <ng-container *ngIf="getClueCard(murderer) as clueCard">
            <tg-card [card]="clueCard"></tg-card>
            <div class="button-container">
              <button mat-raised-button color="accent" (click)="makeGuess()">Make Guess</button>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #emptyGuess>
    Try composing a guess by selecting one of the cards above.
  </ng-template>
</div>
