<div class="mat-typography container">
  <mat-toolbar color="primary" style="color: black">
    <mat-toolbar-row>
      <span>Treachery</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="infoSection">
    <p>
      Welcome to Treachery! A fun game to play with your friends. You need at
      least 4 people to play this game. You can either create a game or join one
      from the list below. When you create a game, you act as the forensic
      scientist, and your 3 friends can join the game as investigators. When you
      start the game, a player from the investigators will be randomly chosen to
      be the murderer, and your objective as a forensic scientist is to provide
      clues to the players as to who the murderer is. As an investigator, each
      one of you gets one guess to figure out who the murderer is. If you're
      chosen as the murderer, you get to choose a means and a clue card. Use the
      chat to discuss amongst yourselves, and find the murderer! Or deceive
      investigators if you are the murderer.
    </p>
    <div align="end">
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="accent" style="align-self: right;">
        Start Game
      </button>
    </div>
  </div>
  <div
    class="fill-remaining-space"
    style="padding: 8px; background-color: #00000022; flex-grow: 1;"
    align="center"
  >
    <div *ngIf="games!! && games.length > 0; else noGames">
      <div *ngFor="let game of games" class="card">
        <app-active-games-list-item
          [gameId]="game.data().gameId"
        ></app-active-games-list-item>
      </div>
    </div>
    <ng-template #noGames>
      <div style="display: flex; flex-direction: column; height: 100%;">
        <div class="fill-remaining-space"></div>
        No active games. Maybe create one?
        <div class="fill-remaining-space"></div>
      </div>
    </ng-template>
  </div>
</div>
