<div class="player-deck">
  <div><b>Player name:</b> {{ player.playerName }}</div>
  <div class="flex-horizontal">
    <app-card
      *ngFor="let card of player.meansCards"
      [imgSrc]="card.imgUrl"
      [name]="card.name"
      [active]="selectedMeans === card.name"
      (click)="meansClick(card.name)"
    ></app-card>
  </div>
  <div class="flex-horizontal">
    <app-card
      *ngFor="let card of player.clueCards"
      [imgSrc]="card.imgUrl"
      [name]="card.name"
      [active]="selectedClue === card.name"
      (click)="clueClick(card.name)"
    ></app-card>
  </div>
</div>
